@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
  background: #ffffff;
  color: #000000;
}
/* header */
#header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 40px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
#header .header_left {
  display: flex;
  gap: 40px;
  align-items: center;
}
#header .header_left .mainMenu {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0 200px;
}
#header .header_left .mainMenu .depth1 a {
  font-weight: 600;
}
#header .header_left .mainMenu .depth1:last-child a {
  color: #00a73d;
}
#header .header_right {
  display: flex;
  gap: 40px;
  align-items: center;
}
#header .header_right .member {
  display: flex;
  gap: 40px;
  align-items: center;
}
#header .header_right .member li a {
  color: #9f9f9f;
  transition: all 0.2s;
}
#header .header_right .member li:hover a {
  color: #000000;
}
