@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;

  background: #ffffff;
  color: #000000;
}
/* main > visual */
#visual {
  margin: 90px auto;
  width: 63%;
  height: auto;
  position: relative;
}
#visual .visual_cover {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  transition: 0.4s ease all;
}
#visual .visual_cover:hover {
  background: none;
}
#visual .slick-arrow {
  width: 30px;
  height: 57px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  text-indent: -99999px;
  opacity: 0.7;
}
#visual .slick-arrow:hover {
  opacity: 1;
}

#visual .slick-prev {
  background: url(../images/icon/icon_prev.png) no-repeat;
  left: 40px;
}
#visual .slick-next {
  background: url(../images/icon/icon_next.png) no-repeat;
  right: 40px;
}
#visual .slick-dots {
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  text-indent: -99999px;
}
#visual .slick-dots li {
  width: 10px;
  height: 10px;
  background: #cccccc;
  border-radius: 50%;
}
#visual .slick-dots .slick-active {
  background: #000000;
}
#visual div {
  position: relative;
}
#visual div a img {
  width: 100%;
}
#visual div a .text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 11;
  color: #ffffff;
  padding: 0 60px 34px;
}
#visual div a .text h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}
#visual div a .text p {
  margin-top: 17px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

/* main > issue */
#issue {
  margin: 80px auto;
  width: 63%;
  height: auto;
}
#issue .issue_title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 50px;
  display: flex;
  width: 100%;
}
#issue .issue_title li {
  width: 50%;
}
#issue .issue_title li a {
  width: 100%;
  display: block;
  padding: 30px 0;
  color: #cccccc;
  border-bottom: 4px solid #cccccc;
}

#issue .issue_title li.active a,
#issue .issue_title li.active:hover a {
  color: #000000;
  border-bottom: 4px solid #000000;
}
#issue .issue_title li:hover a {
  color: #999999;
  border-bottom: 4px solid #999999;
  transition: all 0.5s ease;
}
#issue .issue_contents ul li a {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid #cccccc;
}
#issue .issue_contents ul li a .issue_img {
  width: 25%;
  overflow: hidden;
}

#issue .issue_contents ul li a .issue_img img {
  transition: all 0.5s ease;
  width: 100%;
}
#issue .issue_contents ul li a .issue_img:hover img {
  transform: scale(1.1);
}
#issue .issue_contents ul li a .issue_text {
  padding-left: 30px;
}
#issue .issue_contents ul li a .issue_text h3 {
  font-size: 21px;
  font-weight: 800;
  line-height: 30px;
}

#issue .issue_contents li a .issue_text p {
  font-size: 17px;
  font-weight: 500;
  padding-top: 10px;
  color: #5c5c5c;
}

/* main > voice */
#voice {
  width: 100%;
  background: #000000;
  padding: 80px 0 76px;
}
#voice .voice_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
#voice .voice_title h3 {
  display: block;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 2em;
}
#voice .voice_title h2 {
  margin-top: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
}
#voice .voice_title p {
  margin-top: 18px;
  font-size: 16px;
  text-align: center;
  color: #7b7b7b;
  line-height: 1em;
}
#voice .voice_contents {
  margin: 40px auto;
  width: 63%;
  position: relative;
  padding: 0 100px;
}
#voice .voice_contents .slick-arrow {
  width: 30px;
  height: 57px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  text-indent: -99999px;
  opacity: 0.7;
}
#voice .voice_contents .slick-arrow:hover {
  opacity: 1;
}

#voice .voice_contents .slick-prev {
  background: url(../images/icon/icon_prev.png) no-repeat;
  left: 40px;
}
#voice .voice_contents .slick-next {
  background: url(../images/icon/icon_next.png) no-repeat;
  right: 40px;
}
#voice .voice_contents li a {
  display: block;
  width: 96%;
}
#voice .voice_contents li a .voice_img {
  width: 100%;
  height: auto;
}
#voice .voice_contents li a .voice_img img {
  width: 100%;
}
#voice .voice_contents li a h3 {
  color: #ffffff;
  padding: 12px 0 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

/* main > pick */
#pick {
  margin: 80px auto;
  width: 63%;
}
#pick h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 50px;
  padding: 30px 0;
}
#pick .pick_contents ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#pick .pick_contents ul li {
  width: 32%;
}
#pick .pick_contents ul li a {
  display: block;
}
#pick .pick_contents ul li a .pick_img {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 40%;
  overflow: hidden;
}
#pick .pick_contents ul li a .pick_img img {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

#pick .pick_contents ul li a .pick_img:hover img {
  transform: scale(1.1);
}
#pick .pick_contents ul li a .pick_text {
  padding: 8px 0 30px 0;
}
#pick .pick_contents ul li a .pick_text h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #c00;
}
#pick .pick_contents ul li a .pick_text h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 30px;
}
#pick .pick_contents ul li a .pick_text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: #5c5c5c;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* main > sns */
#sns {
  width: 100%;
  height: auto;
  background: url(../images/sns/sns_bg.jpg) center no-repeat;
  background-size: cover;
}
#sns .snsInner {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
#sns .snsInner > div {
  display: flex;
  gap: 40px;
}
#sns .snsInner > div .sns_left {
  padding-top: 15px;
  width: 170px;
}
#sns .snsInner > div .sns_left .sns_title {
  padding: 20px 0 0;
  font-size: 22px;
  line-height: 1em;
  font-weight: 600;
}
#sns .snsInner > div .sns_left p {
  margin: 25px 0;
  font-size: 14px;
  line-height: 24px;
}
#sns .snsInner > div .sns_left button {
  display: block;
  width: 160px;
  height: 42px;
  line-height: 42px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  background: #c00;
  transition: all 0.3s;
}
#sns .snsInner > div .sns_left button:hover {
  background: #e13737;
}
#sns .snsInner > div .sns_right {
  width: 190px;
  height: 245px;
  overflow: hidden;
}
#sns .snsInner > div .sns_right img {
  width: 100%;
}

/* footer */
#footer {
  width: 100%;
  background: #000000;
  padding: 60px 0;
}
#footer .footerInner {
  margin: 0 auto;
  width: 55%;
  display: flex;
  justify-content: space-between;
}
#footer .footerInner .footer_left .snsLink {
  display: flex;
  gap: 25px;
  padding-top: 50px;
}
#footer .footerInner .footer_left .snsLink li a {
  display: block;
  width: 19px;
  text-align: center;
}
#footer .footerInner .footer_right {
  color: #ffffff;
  font-size: 14px;
}
#footer .footerInner .footer_right .footerLink {
  display: flex;
  gap: 20px;
}

#footer .footerInner .footer_right .footerLink li a {
  color: #ffffff;
}
#footer .footerInner .footer_right .footerLink li:nth-child(4) a {
  font-weight: 700;
  color: #c00;
}
#footer .footerInner .footer_right .footerInfo {
  margin: 24px 0;

  line-height: 20px;
}
