@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-family: "Baloo 2", sans-serif;
}

/* header */

header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 100;
  transition: all 0.2s ease;
}
header .inner {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner .left_inner {
  display: flex;
  gap: 80px;
}
header .inner .left_inner h1 a {
  display: block;
  width: 317px;
  height: 34px;
  text-indent: -99999px;
  background: url(../images/logo/logo.png) no-repeat;
  background-size: cover;
}
header .inner .left_inner .menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
header .inner .left_inner .menu > li {
  position: relative;
}
header .inner .left_inner .menu > li > a {
  font-size: 22px;
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease;
}
header .inner .left_inner .menu > li:hover > a {
  font-weight: 700;
}
header .inner .right_inner button {
  background: none;
}
header .inner .right_inner button svg {
  width: 32px;
  height: 32px;
  fill: #333;
  transition: all 0.3s ease;
}

/* depth2 */
header .inner .left_inner .menu .depth2 {
  position: absolute;
  left: 0;
  top: 45px;
}
header .inner .left_inner .menu .depth2 li {
  box-sizing: border-box;
}
header .inner .left_inner .menu .depth2 li a {
  display: block;
  padding: 10px 40px 10px 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
header .inner .left_inner .menu .depth2 li:hover a {
  font-weight: 700;
}
