@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-family: "Baloo 2", sans-serif;
}
/* header */

header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 100;
  transition: all 0.2s ease;
}
header .inner {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner .left_inner {
  display: flex;
  gap: 80px;
}
header .inner .left_inner h1 a {
  display: block;
  width: 317px;
  height: 34px;
  text-indent: -99999px;
  background: url(../images/logo/logo2.png) no-repeat;
  background-size: cover;
}
header .inner .left_inner .menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
header .inner .left_inner .menu > li {
  position: relative;
}
header .inner .left_inner .menu > li > a {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
}
header .inner .left_inner .menu > li:hover > a {
  font-weight: 700;
}
header .inner .right_inner button {
  background: none;
}
header .inner .right_inner button svg {
  width: 32px;
  height: 32px;
  fill: #fff;
  transition: all 0.3s ease;
}

/* depth2 */
header .inner .left_inner .menu .depth2 {
  position: absolute;
  left: 0;
  top: 45px;
}
header .inner .left_inner .menu .depth2 li {
  box-sizing: border-box;
}
header .inner .left_inner .menu .depth2 li a {
  display: block;
  padding: 10px 40px 10px 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
header .inner .left_inner .menu .depth2 li:hover a {
  font-weight: 700;
}

/* main images */

main {
  width: 100%;
}
main .slide_box {
  position: relative;
}
main .slide_box .slide_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 52.08%
  );
  z-index: 5;
  text-indent: -99999px;
}
main .slide_box .slide_images {
  position: relative;
}
main .slide_box .slide_images a {
  display: block;
  width: 100%;
  height: 910px;
}
main .slide_box .slide_images .slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  gap: 20px;
  z-index: 6;
}
main .slide_box .slide_images .slick-dots button {
  border: none;
  background: none;
  text-indent: -99999px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
  transition: all 0.3s ease;
}
main .slide_box .slide_images .slick-dots .slick-active button {
  background: #6dcdec;
}

/* product .list_menu */
.product_page {
  width: 100%;
  margin-top: 100px;
}
.product_page .product {
  max-width: 1200px;
  margin: 0 auto;
}
.product_page .product .list_menu {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 50px;
}
.product_page .product .list_menu li a {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.product_page .product .list_menu li.on a {
  color: #6dcdec;
}

/* product .all */
.product_page .product .all {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product_page .product .all .product_list {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.product_page .product .all .product_list ul li {
  margin-bottom: 0;
}
.product_page .product .all .product_list ul li a {
  display: block;
  width: 306px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 70px;
  color: #6dcdec;
  margin-left: -70px;
}
.product_page .product .all .product_list ul li:nth-child(1) a {
  margin-bottom: 40px;
}
.product_page .product .all .product_list ul li:nth-child(2) a {
  margin-bottom: 60px;
}
.product_page .product .all .product_list ul li a span svg {
  width: 62px;
  height: 62px;
  fill: #6dcdec;
  opacity: 0;
  transition: all 0.3s ease;
}
.product_page .product .all .product_list ul li a:hover span svg {
  opacity: 1;
}
.product_page .product .all .product_list ul li a span.on svg {
  opacity: 1;
}
.product_page .product .all .product_list p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}

.product_page .product .all .ice_cream_box .ice_cream1 {
  display: flex;
  gap: 50px;
  position: relative;
  margin-bottom: 285px;
}
.product_page .product .all .ice_cream_box .ice_cream1 .slick-arrow {
  position: absolute;
  bottom: -154px;
  border: none;
  background: none;
  text-indent: -99999px;
  width: 48px;
  height: 48px;
}
.product_page .product .all .ice_cream_box .ice_cream1 .slick-prev {
  right: 900px;
  background: url(../images/icon/prev.png) no-repeat;
  background-size: cover;
}
.product_page .product .all .ice_cream_box .ice_cream1 .slick-next {
  right: 800px;
  background: url(../images/icon/next.png) no-repeat;
  background-size: cover;
}
.product_page .product .all .ice_cream_box .ice_cream1 .slick-list {
  width: 895px;
}
.product_page .product .all .ice_cream_box .ice_cream1 .ice_list {
  width: 285px;
}
.product_page .product .all .ice_cream_box .ice_cream1 .ice_list .img {
  width: 285px;
  height: 387px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.product_page .product .all .ice_cream_box .ice_cream1 .ice_list .img img {
  width: 228px;
  height: 287px;
  margin: 0 28.5px;
}
.product_page .product .all .ice_cream_box .ice_cream1 .ice_list.de .img img {
  width: 228px;
  height: 227px;
  margin: 80px 28.5px;
}
.product_page .product .all .ice_cream_box .ice_cream2 .ice_list.de .img img {
  width: 228px;
  height: 227px;
  margin: 80px 28.5px;
}

.product_page .product .all .ice_cream_box .ice_cream1 .ice_list .product_name {
  line-height: 24px;
  text-align: center;
  width: 100%;
}
.product_page
  .product
  .all
  .ice_cream_box
  .ice_cream1
  .ice_list
  .product_name
  .name_en,
.product_page
  .product
  .all
  .ice_cream_box
  .ice_cream2
  .ice_list
  .product_name
  .name_en {
  line-height: 24px;
  font-size: 15px;
  font-weight: 600;
  color: #6dcdec;
  margin: 30px 0 5px 0;
}
.product_page
  .product
  .all
  .ice_cream_box
  .ice_cream1
  .ice_list
  .product_name
  .name_ko,
.product_page
  .product
  .all
  .ice_cream_box
  .ice_cream2
  .ice_list
  .product_name
  .name_ko {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.product_page .product .all .ice_cream_box .ice_cream2 {
  display: flex;
  gap: 50px;
  position: relative;
  margin-bottom: 285px;
  display: none;
}
.product_page .product .all .ice_cream_box .ice_cream2 .slick-arrow {
  position: absolute;
  bottom: -154px;
  border: none;
  background: none;
  text-indent: -99999px;
  width: 48px;
  height: 48px;
}
.product_page .product .all .ice_cream_box .ice_cream2 .slick-prev {
  right: 900px;
  background: url(../images/icon/prev.png) no-repeat;
  background-size: cover;
}
.product_page .product .all .ice_cream_box .ice_cream2 .slick-next {
  right: 800px;
  background: url(../images/icon/next.png) no-repeat;
  background-size: cover;
}
.product_page .product .all .ice_cream_box .ice_cream2 .slick-list {
  width: 895px;
}
.product_page .product .all .ice_cream_box .ice_cream2 .ice_list {
  width: 285px;
}
.product_page .product .all .ice_cream_box .ice_cream2 .ice_list .img {
  width: 285px;
  height: 387px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.product_page .product .all .ice_cream_box .ice_cream2 .ice_list .img img {
  width: 228px;
  height: 287px;
  margin: 0 28.5px;
}
.product_page .product .all .ice_cream_box .ice_cream2 .ice_list .product_name {
  line-height: 24px;
  text-align: center;
  width: 100%;
}
.product_page
  .product
  .all
  .ice_cream_box
  .ice_cream2
  .ice_list
  .product_name
  .name_en {
  margin: 30px 0 5px 0;
}

/* product 공통분모 */
.product_page .product div .slide_page .slick-list {
  width: 1200px;
  margin-right: 20px;
}
.product_page .product div .slide_page ul {
  display: flex;
  gap: 20px;
}
.product_page .product div .slide_page ul li {
  width: 285px;
}
.product_page .product div ul li .img {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.product_page .product div ul li .img img {
  width: 228px;
  height: 287px;
  margin: 50px 28.5px;
}
.product_page .product div ul li .product_name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 279px;
}
.product_page .product div ul li .product_name .name_en {
  font-size: 15px;
  font-weight: 600;
  color: #6dcdec;
}
.product_page .product div ul li .product_name .name_ko {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

/* pint */
.product_page .product div ul li {
  float: left;
  margin: 0 20px 0 0;
  margin-bottom: 50px;
}
.product_page .product div ul li:nth-child(4),
.product_page .product div ul li:nth-child(8) {
  margin-left: -3px;
  margin-right: 0;
}
.product_page .product div ul li .img {
  height: 387px;
}
.product_page .product div ul li .img {
  margin-bottom: 30px;
}

/* minicup */
.product_page .product .minicup .minicup_list li .img img {
  display: block;
  width: 228px;
  height: 227px;
  margin: 80px 28.5px;
}
/* scoop */
.product_page .product .scoop .scoop_list li .img {
  margin-bottom: 30px;
}
.product_page .product .scoop .scoop_list li .img img {
  width: 228px;
  height: 227px;
  margin: 80px 28.5px;
}

.product_page .product .all,
.product_page .product .pint,
.product_page .product .minicup,
.product_page .product .scoop {
  display: none;
}
.product_page .product .all.active,
.product_page .product .pint.active,
.product_page .product .minicup.active,
.product_page .product .scoop.active {
  display: block;
  display: flex;
}

.product_page .product .pint .slick-list,
.product_page .product .minicup .slick-list,
.product_page .product .scoop .slick-list {
  position: relative;
  margin-bottom: 150px;
}
.product_page .product .pint .slide_page,
.product_page .product .minicup .slide_page,
.product_page .product .scoop .slide_page {
  position: relative;
}

.product_page .product div .slide_page .slick-arrow {
  position: absolute;
  bottom: 100px;
  left: 40%;
  width: 38px;
  height: 38px;
  background: none;
  border: none;
  text-indent: -99999px;
}
.product_page .product div .slide_page .slick-prev {
  left: calc(45% - 38px);
  background: url(../images/icon/prev.png) no-repeat;
  background-size: cover;
}
.product_page .product div .slide_page .slick-next {
  left: 55%;
  background: url(../images/icon/next.png) no-repeat;
  background-size: cover;
}
.product_page .product div .slide_page .slick-dots button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
}
.product_page .product div .slide_page .slick-dots li button {
  display: none;
}
.product_page .product div .slide_page .slick-dots li.slick-active button {
  display: block;
  border: none;
  background: none;
  font-weight: 600;
  font-size: 30px;
  color: #6dcdec;
}

/* product_page2 */
.product_page2 {
  width: 100%;
  margin-bottom: 94px;
}
.product_page2 .product2_box {
  max-width: 1200px;
  margin: 0 auto;
}
.product_page2 .product2_box .product_list2 {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.product_page2 .product2_box .product_list2 li a {
  font-size: 30px;
  font-weight: 600;
  color: #333;
}
.product_page2 .product2_box .product_list2 li.on a {
  color: #6dcdec;
}
.product_page2 .product2_box > div {
  display: none;
}
.product_page2 .product2_box > div.active {
  display: block;
}
.product_page2 .product2_box > div ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.product_page2 .product2_box > div ul li {
  margin-bottom: 56px;
}
.product_page2 .product2_box > div ul li .img {
  width: 285px;
  height: 387px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.product_page2 .product2_box > div ul li .product_name .name_en {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #6dcdec;
  line-height: 24px;
  margin-bottom: 5px;
}
.product_page2 .product2_box > div ul li .product_name .name_ko {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.product_page2 .product2_box .product_sundae .sundae_list li .img img {
  width: 228px;
}
.product_page2 .product2_box .product_etc .etc_list li .img img {
  width: 228px;
}

/* recipe */
.recipe {
  width: 100%;
  margin-bottom: 150px;
}
.recipe .recipe_box {
  max-width: 1200px;
  margin: 0 auto;
}
.recipe .recipe_box h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #333;
}
.recipe .recipe_box .com_recipe {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.recipe .recipe_box .com_recipe li {
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.recipe .recipe_box .com_recipe li div {
  width: 100%;
  height: 285px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.recipe .recipe_box .com_recipe li div a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -99999px;
  transition: all 0.3s ease;
}
.recipe .recipe_box .com_recipe li div:hover a {
  transform: scale(1.1);
}
.recipe .recipe_box .com_recipe .vegan div a {
  background: url(../images/recipe/vegan.jpg) no-repeat center center;
  background-size: cover;
}
.recipe .recipe_box .com_recipe .milkshake div a {
  background: url(../images/recipe/milkshake.JPG) no-repeat center center;
  background-size: cover;
}
.recipe .recipe_box .com_recipe .sundae div a {
  background: url(../images/recipe/sundae.JPG) no-repeat center center;
  background-size: cover;
}
.recipe .recipe_box .com_recipe .breakfast div a {
  background: url(../images/recipe/breakfast.JPG) no-repeat center center;
  background-size: cover;
}
.recipe .recipe_box .com_recipe li p {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

/* value */

.value {
  width: 100%;
}
.value .value_box {
  max-width: 1200px;
  margin: 0 auto;
}
.value .value_box h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #333;
}
.value .value_box .ceo_value {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.value .value_box .ceo_value li {
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.value .value_box .ceo_value li div {
  width: 100%;
  height: 285px;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.value .value_box .ceo_value li div a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -99999px;
  transition: all 0.3s ease;
}
.value .value_box .ceo_value li div:hover a {
  transform: scale(1.1);
}
.value .value_box .ceo_value .trade div a {
  background: url(../images/value/value01.jpg) no-repeat center center;
  background-size: cover;
}
.value .value_box .ceo_value .marriage div a {
  background: url(../images/value/value02.jpg) no-repeat center center;
  background-size: cover;
}
.value .value_box .ceo_value .climate div a {
  background: url(../images/value/value03.jpg) no-repeat center center;
  background-size: cover;
}
.value .value_box .ceo_value .peace div a {
  background: url(../images/value/value04.jpg) no-repeat center center;
  background-size: cover;
}
.value .value_box .ceo_value li p {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

/* footer */

footer {
  width: 100%;
  margin-top: 90px;
  background: #6dcdec;
}
footer .footer_inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}
footer .footer_inner h1 {
  margin: 0 auto;
}
footer .footer_inner h1 span {
  display: block;
  width: 62px;
  height: 62px;
  background: url(../images/icon/icecream-footer.png) no-repeat;
  background-size: cover;
  text-indent: -99999px;
  margin: 0 auto;
  margin-bottom: 30px;
}
footer .footer_inner h1 img {
  width: 316px;
  height: 34px;
}
footer .footer_inner .sns {
  display: flex;
  gap: 30px;
}
footer .footer_inner .sns span {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -99999px;
}
footer .footer_inner .sns .facebook {
  background: url(../images/icon/facebook.png) no-repeat;
  background-size: cover;
}
footer .footer_inner .sns .insta {
  background: url(../images/icon/instagram.png) no-repeat;
  background-size: cover;
}
footer .footer_inner .infor_con {
  display: flex;
  gap: 25px;
}
footer .footer_inner .infor_con ul li {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}
footer .footer_inner .infor_con ul .sub {
  text-indent: -99999px;
  margin-bottom: 10px;
  font-weight: 500;
}
footer .footer_inner .infor_con .contact .sub {
  width: 126px;
  height: 48px;
  background: url(../images/icon/CONTACT.png) no-repeat left center;
  background-size: contain;
}
footer .footer_inner .infor_con .contact li {
  position: relative;
}
footer .footer_inner .infor_con .contact li::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -34px;
  top: 50%;
  transform: translateY(-50%);
}
footer .footer_inner .infor_con .contact li:nth-child(2):before {
  background: url(../images/icon/phone.png) no-repeat;
}
footer .footer_inner .infor_con .contact li:nth-child(3):before {
  background: url(../images/icon/mail.png) no-repeat;
}
footer .footer_inner .infor_con .information .sub {
  width: 190px;
  height: 48px;
  background: url(../images/icon/INFORMATION.png) no-repeat center;
  background-size: contain;
}
footer .footer_inner .infor_con ul li:nth-child(2) {
  margin-bottom: 5px;
}
footer .footer_inner .infor_con ul li a {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
footer .footer_inner .infor_con .information li a {
  display: block;
  text-align: center;
  line-height: 24px;
  position: relative;
}
footer .footer_inner .infor_con .information li a::before {
  content: "";
  width: 0px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: calc(50% - 60px);
  transform: translateX(30.5px);
  top: 100%;
  transition: all 0.3s ease;
}
footer .footer_inner .infor_con .information li a:hover::before {
  content: "";
  width: 60px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: calc(50% - 60px);
  transform: translateX(30.5px);
  top: 100%;
}
footer .footer_inner .copy p {
  display: flex;
  gap: 10px;
  justify-content: center;
}
footer .footer_inner .copy p span {
  display: block;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}
