@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #fdfaf7;
  color: #3c3c3c;
}
/* headerWrap */
#headerWrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: 0.3s ease all;
}
#headerWrap .subMenu_bg {
  width: 100%;
  height: 0px;
  background: #fdfaf7;
  z-index: -1;
}
/* header */
#header {
  width: 100%;
  background: none;
  padding: 32px 64px 16px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s ease all;
}
#header .logo a img {
  width: 158px;
  transition: 0.3s ease;
}
#header .mainMenu {
  display: flex;
  align-items: center;
}
#header .mainMenu .depth1 {
  position: relative;
}
#header .mainMenu .depth1 a {
  text-indent: -99999px;
  text-align: center;
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
}

#header .mainMenu .mainMenu_chris a {
  background: url(../images/nav01.png) no-repeat center;
  color: #e93586;
}
#header .mainMenu .mainMenu_chris:hover a {
  text-indent: 0px;
  background-image: none;
}
#header .mainMenu .mainMenu_reser a {
  background: url(../images/nav02.png) no-repeat center;
}
#header .mainMenu .mainMenu_reser:hover a {
  text-indent: 0px;
  background-image: none;
}
#header .mainMenu .mainMenu_shop a {
  background: url(../images/nav03.png) no-repeat center;
}
#header .mainMenu .mainMenu_shop:hover a {
  text-indent: 0px;
  background-image: none;
}
#header .mainMenu .mainMenu_brand a {
  background: url(../images/nav04.png) no-repeat center;
}
#header .mainMenu .mainMenu_brand:hover a {
  text-indent: 0px;
  background-image: none;
}
#header .mainMenu .mainMenu_event a {
  background: url(../images/nav05.png) no-repeat center;
}
#header .mainMenu .mainMenu_event:hover a {
  text-indent: 0px;
  background-image: none;
}
#header .mainMenu .mainMenu_help a {
  background: url(../images/nav06.png) no-repeat center;
}
#header .mainMenu .mainMenu_help:hover a {
  text-indent: 0px;
  background-image: none;
}
#header .member {
  display: flex;
  gap: 60px;
}
#header .member li a {
  color: #9d9c9c;
  font-weight: 400;
}
#header .member li:hover a {
  color: #3c3c3c;
}
#header:hover {
  background: #fdfaf7;
}
#header.on {
  background: #fdfaf7;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding-top: 16px;
}
#header.on .logo a img {
  width: 79px;
  margin-right: 79px;
}
#header .btn_menu,
#header .btn_bag {
  display: none;
}
/* header > subMenu */
#header .mainMenu .depth1 .subMenu {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  padding-top: 20px;
  z-index: 200;
  text-align: center;
}
#header .mainMenu .depth1 .subMenu .depth2 a {
  font-size: 12px;
  background: none;
  font-weight: 400;
  color: #9d9c9c;
  display: block;
  width: 100%;
  height: 30px;
}
#menuBox {
  display: none;
}
/* ===== TABLET & MOBILE ===== */
@media screen and (max-width: 1024px) {
  #header,
  #header.on {
    background-color: #ffec9f;
    height: 70px;
    padding: 16px 20px;
  }
  #header:hover {
    background-color: #ffe478;
  }
  #header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #header .logo a {
    display: block;
  }
  #header .logo a img {
    width: 79px;
  }
  #header .mainMenu {
    display: none;
  }
  #header .member {
    display: none;
  }
  #header .btn_menu,
  #header .btn_bag {
    display: block;
  }
  #header.on .logo a img {
    margin-right: 0;
  }
  .cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 499;
    display: none;
  }
  #menuBox {
    display: block;
    width: 300px;
    height: 100%;
    position: fixed;
    background: #fdfaf7;
    left: -100%;
    top: 0;
    z-index: 500;
  }
  #menuBox .top {
    width: 100%;
    height: 70px;
    background: #ffec9f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  #menuBox .top h2 a {
    display: inline-block;
    font-size: 14px;
    opacity: 0.6;
  }

  #menuBox .top .btn_close {
    opacity: 0.6;
  }
  #menuBox .m_mainMenu {
    width: 100%;
  }
  #menuBox .m_mainMenu .depth1 > a {
    width: 100%;
    padding: 13px 50px 14px 20px;
    font-size: 14px;
    display: block;
    border-top: 1px solid #efefef;
    transition: all ease;
  }

  #menuBox .m_mainMenu .depth1 .m_subMenu {
    padding-bottom: 10px;
    display: none;
  }
  #menuBox .m_mainMenu .depth1 .m_subMenu .depth2 > a {
    font-size: 12px !important;
    padding: 8px 50px 8px 30px;
    display: block;
  }
}
