@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #fdfaf7;
  color: #3c3c3c;
}
/* main > visual */
#visual {
  margin-top: 108px;
  padding: 16px 64px;
  position: relative;
}
#visual .slick-arrow {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  text-indent: -99999px;
}

#visual .slick-prev {
  background: url(../images/icon/icon_prev.png) no-repeat;
  left: 35px;
}
#visual .slick-next {
  background: url(../images/icon/icon_next.png) no-repeat;
  right: 35px;
}
#visual div {
  border-radius: 20px;
}
#visual div img {
  width: 100%;
}

/* main > section */
#section {
  padding: 16px 64px;
}
#section > div {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#section > div .text {
  padding-left: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
}
#section > div .text h2 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 40px;
}
#section > div .text p {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}
#section > div .gallery {
  display: flex;
  width: 80%;
}
#section > div .gallery li {
  padding: 0 12px;
}
#section > div .gallery li a {
  display: block;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  overflow: hidden;
}
#section div .gallery li a img {
  width: 100%;
}
#section div .gallery li a .product {
  background: #fff;
  padding: 10px 0 40px 0;
  text-align: center;
  font-weight: 700;
}
#section div .gallery li a .product .product_name {
  font-size: 20px;
  color: #212121;
  letter-spacing: -1px;
}
#section div .gallery li a .product .product_price {
  font-size: 18px;
  color: #ffa2cb;
  margin-top: 8px;
}
#section .event .event_list {
  display: flex;
  width: 80%;
}
#section .event .event_list li {
  padding: 0 12px;
  width: 33.333%;
}
#section .event .event_list li a {
  display: block;
  border-radius: 16px;
  overflow: hidden;
}
#section .event .event_list li a img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
#section .insta .text .btn_follow a {
  font-size: 16px;
  padding: 8px 24px;
  background: #e93586;
  border-radius: 16px;
  color: #fff;
}
#section .insta .text h2 br {
  display: none;
}
#section .insta .insta_list {
  display: flex;
  width: 80%;
}
#section .insta .insta_list li {
  padding: 0 12px;
  width: 25%;
}
#section .insta .insta_list li a {
  display: block;
  border-radius: 16px;
  overflow: hidden;
}
#section .insta .insta_list li a div {
  width: 100%;
  height: 300px;
}
#section .insta .insta_list li:nth-child(1) a div {
  background: url(../images/insta01.jpg) no-repeat center;
  background-size: cover;
}
#section .insta .insta_list li:nth-child(2) a div {
  background: url(../images/insta02.jpg) no-repeat center;
  background-size: cover;
}
#section .insta .insta_list li:nth-child(3) a div {
  background: url(../images/insta03.jpg) no-repeat center;
  background-size: cover;
}
#section .insta .insta_list li:nth-child(4) a div {
  background: url(../images/insta04.jpg) no-repeat center;
  background-size: cover;
}

/* footer */
#footer {
  margin-top: 60px;
}
#footer .footerInner {
  padding-top: 80px;
  background-color: #bee1f0;
  position: relative;
  border-radius: 64px 64px 0 0;
  overflow: hidden;
  position: relative;
}
#footer .footerInner .footer_text {
  position: absolute;
  left: 5%;
  bottom: 20%;
  z-index: 1;
}
#footer .footerInner .footer_text .footer_top {
  display: flex;
  font-size: 16px;
}
#footer .footerInner .footer_text .footer_top div h3 {
  font-weight: 500;
}
#footer .footerInner .footer_text .footer_top div ul {
  padding: 24px 0 10px 0;
}
#footer .footerInner .footer_text .footer_top div ul li {
  margin-top: 12px;
}
#footer .footerInner .footer_text .footer_top .footer_right {
  margin-left: 48px;
}
#footer .footerInner .footer_text .footer_top .footer_right ul li a {
  display: flex;
}
#footer .footerInner .footer_text .footer_top .footer_right ul li a img {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  font-size: 16px;
}
#footer .footerInner .footer_text .footer_top .footer_right .footer_help {
  margin-top: 40px;
}
#footer .footerInner .footer_text .footer_bottom {
  margin-top: 48px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
#footer .footerInner .footer_text .footer_bottom li {
  opacity: 0.5;
}
#footer .footerInner .footer_text .footer_bottom li:nth-child(1):hover,
#footer .footerInner .footer_text .footer_bottom li:nth-child(2):hover {
  opacity: 1;
}
#footer .footerInner .footer_text .footer_bottom li::after {
  content: "";
  border-left: 1px solid rgba(051, 051, 051, 0.5);
  margin: 0 16px;
}
#footer .footerInner .footer_text .footer_bottom li:last-child::after {
  display: none;
}
#footer .footerInner .footer_bg2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
#footer .footerInner .footer_bg3 {
  position: absolute;
  right: 23%;
  bottom: 5%;
  width: 25%;
}
/* ===== TABLET ===== */
@media (min-width: 768px) and (max-width: 1024px) {
  #visual {
    padding: 16px 20px;
    margin-top: 70px;
  }
  #visual .slick-arrow {
    display: none !important;
  }
  #section {
    padding: 16px 20px;
  }
  #section > div {
    padding: 20px 0;
  }

  #section > div .text h2 {
    font-size: 40px;
  }
  #section > div .text p {
    display: none;
  }
  #section > div .gallery,
  #section .event .event_list,
  #section .insta .insta_list {
    width: 84%;
  }
  #section > div .gallery li,
  #section .event .event_list li,
  #section .insta .insta_list li {
    padding: 0 6px;
  }

  #section > div .gallery li a .product .product_name {
    font-size: 15px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 20px;
  }
  #section > div .gallery li a .product .product_price {
    font-size: 16px;
    font-weight: 500;
  }
  #section .insta .text h2 br {
    display: block;
  }
  #footer {
    margin-top: 30px;
  }
  #footer .footerInner .footer_text {
    left: 3%;
  }
  #footer .footerInner .footer_text .footer_top {
    font-size: 12px;
  }
  #footer .footerInner .footer_text .footer_top div ul {
    padding: 16px 0 10px 0;
  }
  #footer .footerInner .footer_text .footer_top div ul li {
    margin-top: 8px;
  }
  #footer .footerInner .footer_text .footer_top .footer_right .footer_help {
    margin-top: 20px;
  }
  #footer .footerInner .footer_text .footer_bottom {
    font-size: 12px;
    margin-top: 24px;
  }
  #footer .footerInner .footer_text .footer_bottom li::after {
    margin: 0 8px;
  }
  #footer .footerInner .footer_bg3 {
    right: 7%;
  }
}
/* ===== MOBILE ===== */
@media screen and (max-width: 767px) {
  #visual {
    margin-top: 70px;
    padding: 0 0;
  }
  #visual .slick-arrow {
    display: none !important;
  }
  #visual div {
    border-radius: 0px;
  }
  #section {
    padding: 16px 0px;
  }
  #section > div {
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
  }
  #section > div .text {
    padding-left: 0px;
  }
  #section > div .text p {
    display: none;
  }
  #section > div .gallery,
  #section .event .event_list,
  #section .insta .insta_list {
    width: 100%;
    padding: 0 20px;
  }
  #section > div .gallery li,
  #section .event .event_list li,
  #section .insta .insta_list li {
    padding: 0 6px;
  }
  #section > div .gallery li a .product .product_name {
    font-size: 15px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 20px;
  }
  #section > div .gallery li a .product .product_price {
    font-size: 16px;
    font-weight: 500;
  }

  #section .event .event_list li {
    width: 100%;
  }
  #section .event .event_list li:nth-child(2) {
    display: none;
  }
  #section .event .event_list li:nth-child(3) {
    display: none;
  }
  #section .insta .text h2 br {
    display: none;
  }
  #section .insta .text .btn_follow {
    display: none;
  }
  #section .insta .insta_list li {
    width: 33.33%;
  }
  #section .insta .insta_list li:nth-child(4) {
    display: none;
  }
  #section .insta .insta_list li a div {
    height: 145px;
  }
  #footer .footerInner {
    padding-top: 320px;
  }
  #footer .footerInner .footer_text {
    left: 20px;
    bottom: 6%;
  }
  #footer .footerInner .footer_text .footer_top {
    flex-direction: column;
  }
  #footer .footerInner .footer_text .footer_top div h3 {
    font-size: 18px;
  }
  #footer .footerInner .footer_text .footer_top div ul {
    padding: 16px 0 10px 0;
  }
  #footer .footerInner .footer_text .footer_top div ul li {
    margin-top: 8px;
    font-size: 12px;
  }
  #footer .footerInner .footer_text .footer_top .footer_right {
    margin-left: 0;
  }
  #footer .footerInner .footer_text .footer_top .footer_right .footer_social {
    margin-top: 20px;
  }
  #footer .footerInner .footer_text .footer_top .footer_right .footer_help {
    margin-top: 20px;
  }
  #footer .footerInner .footer_text .footer_bottom {
    font-size: 10px;
    line-height: 18px;
    flex-direction: column;
    align-items: start;
  }
  #footer .footerInner .footer_text .footer_bottom li::after {
    display: none;
  }
  #footer .footerInner .footer_bg3 {
    right: 7%;
    width: 40%;
  }
}
